<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>坛子菌</title>
<meta name="keywords" content="个人博客,谭志军个人博客,谭志军" />
<meta name="description" content="谭志军个人博客" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/jquery.easyfader.min.js"></script>
<script src="js/scrollReveal.js"></script>
<script src="js/common.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<%- include('header') %>
<%- body %>
<%- include('footer') %>
</body>
</html>
