<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			background: #f9f9f9
		}
		.main {
			margin-top: 100px
		}
		.form {
			margin: 0 auto;
			width: 284px;
			background: #ffffff;
			border-radius: 5px;
			border: 1px solid #d8dee2;
			padding: 20px
		}
		.form-label {
			margin-bottom: 8px;
			display: block;
			font-size: 14px;
			font-weight: 600
		}
		.form-control {
	    padding: 6px 8px;
	    font-size: 16px;
	    line-height: 20px;
	    color: #24292e;
	    vertical-align: middle;
	    background-color: #fff;
	    background-repeat: no-repeat;
	    background-position: right 8px center;
	    border: 1px solid #d1d5da;
	    border-radius: 3px;
	    outline: none;
	    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
	    width: 266px;
	    margin-bottom: 8px
		}
		.login {
			color: #fff;
	    background-color: #28a745;
	    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
	    text-align: center;
	    padding: 6px 12px;
	    font-size: 14px;
	    font-weight: 600;
	    line-height: 20px;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    user-select: none;
	    background-repeat: repeat-x;
	    background-position: -1px -1px;
	    background-size: 110% 110%;
	    border: 1px solid rgba(27,31,35,0.2);
	    border-radius: 0.25em;
	    width: 100%;
	    margin-top: 20px
		}
	</style>
</head>
<body>
	<div class="main">
		<div class="form">
			<form action="/login/session" method="post">
				<label class="form-label">name:</label>
				<input class="form-control" name="name">
				<label class="form-label">password:</label>
				<input class="form-control" type="password" name="password">
				<input type="submit" value="登录" class="login">
			</form>
		</div>
	</div>
</body>
</html>